<html>
	<head>
	<title>
		Automatium Demo
	</title>
	</head>
	
	<body>
	<p>
	<h2>Login Here</h2>
	<form id="loginForm" action="login" method="post">
		Email: <input type='email' id='loginEmail' name='loginEmail' />
		Password: <input type='password' id='loginPassword' name='loginPassword' />
		<input id='loginButton' type='submit' value='Go' />
	</form>
	<p>
	<h2>Register Here</h2>
	<form id='registerForm' action='register' method='post'>
		Email: <input type='email' id='registerEmail' name='registerEmail' /><br />
		Password: <input type='password' id='registerPassword' name='registerPassword' /><br />
		Reenter Password: <input type='password' id='registerRePassword' name='registerRePassword' /><br />
		<input id='registerButton' type='submit' value='Register' />
	</form>
	</body>
</html>